<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	
    <title>Thông tin cá nhân</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" th:href="@{/img/other/favicon.png}" type="image/png">

	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" type="text/css">

    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
	
   
</head>

<body class="acc">


    <!-- option Begin -->
    <div class="option_menu_overlay"></div>
    <div class="option_menu_wrapper">
        <div class="option_menu_logo">
            <a><img th:src="@{img/other/logo.png}" alt=""></a>
        </div>
        <div class="option_menu_cart">
            <ul>
				<li><i class="fa fa-heart"></i></li>
				<div class="header_cart_price">Số tiền bạn có: </div>
			</ul>
        </div>
        <div class="option_menu_widget">
            
            <div class="header_top_right_auth">
                <a href="logout"><i class="fa fa-user"></i> Đăng xuất</a>
            </div>
        </div>
		<!-- Navigation mobile -->
        <nav class="option_menu_nav mobile-menu">
            <ul>
                <li class="active"><a href="index">Trang Chủ</a></li>
                <li><a href="shop-grid">Bảng xếp hạng</a></li>
          
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header_top_right_social">
            
        </div>
		<div class="option_menu_contact">
            <ul>
                <li><i class="fa fa-envelope"></i> appshop@gmail.com</li>
                <li>Luôn luôn phong cách!</li>
            </ul>
        </div>
        
    </div>
    <!-- option End -->

    <!-- Khung Header -->
    <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header_top_left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> appshop@gmail.com</li>
                                <li>Luôn luôn phong cách!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header_top_right">
                            <div class="header_top_right_social">
                                <a><i class="fa fa-facebook"></i></a>
                                <a><i class="fa fa-twitter"></i></a>
                               <a href='accountProfile' th:if="${User.role == 'ROLE_USER'}"><i class='fa fa-user'></i> Cấp độ tài khoản: Người dùng </a>
                               <a href='devProfile' th:if="${User.role == 'ROLE_DEV'}"><i class='fa fa-user'></i> Cấp độ tài khoản: Nhà phát triển </a>

							</div>
                           
                            <div class="header_top_right_auth">
                                <a href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                            </div>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header_logo">
                        <a href="index"><img th:src="@{img/other/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header_menu">
                        <ul>
                            <li class=""><a href="index">Trang Chủ</a></li>
							<li><a href="shop-grid">Bảng xếp hạng</a></li>
						
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header_cart">
                        <ul>
                            <li><i class="fa fa-heart"></i></li>
							<div class="header_cart_price" th:text="'Số tiền bạn có: ' + ${User.balance} + ' vnđ'"></div>
                        </ul>
						
                    </div>
                </div>
            </div>
            <div class="option_open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Khung Header -->

<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<div id='img_div' >
						<img th:src="@{'/uploads/'+${User.avatar}}">
					</div>
				</div>
				<h5 class="user-name" th:text="${User.username}"></h5>
				
				<div id="content">
					<form method="POST" th:action ="@{uploadAvatar}" th:object="${user}" enctype = "multipart/form-data">
						<div>
							<label for="uploadImage">Bấm vào đây để chọn ảnh </label>
							<input id="uploadImage" type="file" name="image" style="display:none" accept="image/png, image/jpg, image/jpeg">
							<div class="text-center">
							<button type="submit" id="submitImageProfile" name="submitImageProfile" class="btn btn-primary">Cập nhật ảnh đại diện</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">

	<div class="card-body">
		<form th:action="@{/updateProfile}" th:object="${updateProfile}" method ="POST">
		<div class="row gutters">
		<input class="form-control" type="text" id="id" th:field="${User.id}" hidden> </input>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Thông tin cá nhân</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="fullName">Họ tên:</label>
					<input name="fullName" type="text" class="form-control" id="fullName" th:field="*{fullname}" th:placeholder="${User.fullname}" required>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="phone">Số điện thoại:</label>
					<input name="phone" type="text" class="form-control" id="phone" th:field="*{phone}" th:placeholder="${User.phone}" required>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="address">Địa chỉ:</label>
					<input name="address" type="text" class="form-control" id="address" th:field="*{address}" th:placeholder="${User.address}" required >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="bornDate">Ngày sinh</label>
					<input onfocus="(this.type='date')" id="bornDate" name="bornDate" class="form-control" th:field="*{dateofbirth}" th:placeholder="${User.dateofbirth}" required>
				</div>
			</div>
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="submit" id="submitUpdateProfile" name="submitUpdateProfile" class="btn btn-primary">Cập nhật thông tin</button>
				</div>
			</div>
		</div>
		</form>
		
		<form th:action="@{/topup}" th:object="${topupInfo}" method = "POST">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Nạp tiền vào hệ thống</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="mathe">Nhập mã thẻ cào:</label>
					<input name="mathe" type="number" class="form-control" id="mathe" placeholder="Nhập mã thẻ cào" minlength="4" maxlength="5" th:field="*{mathe}" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="soseri">Nhập số seri thẻ cào:</label>
					<input name = "soseri" type="number" class="form-control" id="soseri" placeholder="Nhập số seri thẻ cào"  minlength="4" maxlength="5" th:field="*{soseri}">
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="submit" id="submitCard" name="submitCard" class="btn btn-primary">Nạp tiền</button>
				</div>
			</div>
		</div>
		</form>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<h6 class="mb-2 text-primary">Lịch sử nạp thẻ</h6>
		</div>
		<table class="table table-bordered" id="dataTable">
		
			<thead>
				<th> Mã thẻ </th>
				<th> Số seri </th>
				<th> Ngày nạp </th>
				<th> Mệnh giá </th>
			</thead>
			<tbody>
			 <tr th:each="card : ${listCards}">
                <td th:text="${card.mathecao}"></td>
                <td th:text="${card.soseri}"></td>
                <td th:text="${card.ngaynap}"></td>
                <td th:text="${card.menhgia}"></td>
            </tr>
				
			</tbody>
		</table>
		
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<h6 class="mb-2 text-primary">Danh sách ứng dụng đã mua</h6>
		</div>
		<table class="table table-bordered" id="dataTable">
			<thead>
				<th> Icon </th>
				<th> Tên ứng dụng </th>
				<th> Thể loại </th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<h6 class="mb-2 text-primary">Danh sách ứng dụng đã cài đặt</h6>
		</div>
		<table class="table table-bordered" id="dataTable">
			<thead>
				<th> Icon </th>
				<th> Tên ứng dụng </th>
				<th> Thể loại </th>
			</thead>
			<tbody>
			
			</tbody>
		</table>
			
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<a href="upgrade">
					<button type='submit' id='upgradeDevButton' class='btn btn-success' th:if="${User.role == 'ROLE_USER'}"> Nâng cấp thành nhà phát triển </button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>



<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script th:src="@{js/main.js}"></script>

</body>
</html>