<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Adminastrator</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" href="@{css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="@{css/style2.css}" />

</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

            <div class="navbar-header pull-left">
                <a href="index-admin.php" class="navbar-brand">
                    <small>
							<a href="index-admin.php"><img class="logo" src="img/other/logo-admin.png" alt=""></a>
					</small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="images/user.jpg" alt="" />
                            <span class="user-info">
									<small>Xin chào,</small>
									<?php echo $_SESSION['userLogin'] ?>
								</span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                         
                            <li>
                                <a href="logout.php">
                                    <i class="ace-icon fa fa-power-off"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

                    <button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

                    <button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

                    <button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="index-admin.php">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Thống kê tổng quan </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="active">
                    <a href="appmanage.php">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span class="menu-text"> Duyệt ứng dụng </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Chức năng </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="acc.php">
                                <i class="menu-icon fa fa-caret-right"></i> Quản lý tài khoản
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>

                    <ul class="submenu">
                        <li class="">
                            <a href="categories.php">
                                <i class="menu-icon fa fa-caret-right"></i> Quản lý thể loại
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>

                    <ul class="submenu">
                        <li class="">
                            <a href="cards.php">
                                <i class="menu-icon fa fa-caret-right"></i> Quản lý thẻ nạp
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="./index.php">Trang chủ</a>
                        </li>
                        <li class="">Duyệt ứng dụng</li>
                    </ul>
                    <!-- /.breadcrumb -->


                </div>

                <div class="page-content">

                    <div class="page-header">
                        <h1>
                            DANH SÁCH ỨNG DỤNG CHỜ DUYỆT 
                            <small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									DUYỆT ỨNG DỤNG
								</small>
                        </h1>
                    </div>
                    <!-- /.page-header -->
					 <div class="container">
				<div class="row">
                <div class="col-md-11" id="table">
                    <table class="table table-hover mt-4">
                        <thead >
                            <tr class="text-justify">
                                <th class="text-center">id</th>
								<th class="text-center"> ICON </th>
                                <th class="text-center">Tên ứng dụng</th>
                                <th class="text-center">Thể loại</th>
                                <th class="text-center">Hình thức mua</th>
								<th class="text-center">Mô tả ngắn</th>								
                                <th class="text-center" colspan = '2'>Xét duyệt</th>						
                            </tr>
                        </thead>                     
							<?php
								$sql = "SELECT * FROM ungdungchoduyet WHERE tinhtrang='Chờ duyệt'";
								$result = mysqli_query($mysqli,$sql);
								
								if (mysqli_num_rows($result) > 0)
								{
									while ($row = mysqli_fetch_assoc($result))
									{
										?>
											
										<tbody id="table-body">
											<tr>
												<td><?php echo $row['id']?></td>					
												<td> <?php echo "<img src='img/featured/".$row['iconimage']."' width='60' height='50' alt='' "; ?></td>
												<td class="text-center"><?php echo $row['tenungdung']?></td>
												<td class="text-center"><?php echo $row['theloai']?></td>
												<td class="text-center"><?php echo $row['hinhthucmua']?></td>
												<td class="text-center"><?php echo $row['motangan']?></td>
												<td>
													<form action="xetduyet.php?appId=<?php echo $row['id']; ?>" method ="POST">
													<button class="btn btn-success" type="submit" name="submitChapThuan">CHẤP THUẬN</button>
													</form>												
												</td>
												<td> 
													<form action="xetduyet.php?appId=<?php echo $row['id']; ?>" method ="POST">
													<button class="btn btn-danger text-right" type="submit" name="submitTuChoi">TỪ CHỐI</button>
													</form>	
												</td>
											</tr>
										</tbody>
										<?php
									}
								}
							?>
																
                    </table>
                </div>
            </div>
                   
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
        </div>
        <!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
							AppShopping &copy; 2021
						</span> &nbsp; &nbsp;
                    <span class="action-buttons">
							<a>
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a>
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a>
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <!-- /.main-container -->

    <script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="@{js/ace.min.js}"></script>
</body>

</html>