<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Administator</title>
    <meta username="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" th:href="@{css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" th:href="@{css/style2.css}" />
	<link rel="icon" th:href="@{img/other/icon.png}" type="image/png">

    
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

            <div class="navbar-header pull-left">
                <a href="index" class="navbar-brand">
                    <small>
							<a href="index"><img class="logo" th:src="@{img/other/logo-dev-UI.png}" alt=""></a>
						</small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue dropdown-modal">
                       <a class="profilebar dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="nav-user-photo" th:src="@{'/uploads/'+${User.devavatar}}" alt="" />
                            <span class="user-info">
									<small>Xin chào,</small>
									<div th:text="${Developer.devname}"> </div>
								</span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="devProfile">
                                    <i class="ace-icon fa fa-user"></i> Hồ sơ cá nhân
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="logout">
                                    <i class="ace-icon fa fa-power-off"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

                    <button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

                    <button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

                    <button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="index-dev">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Thống kê tổng quan </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="approval">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span class="menu-text"> Đăng tải ứng dụng </span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="active">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Chức năng </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="active">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i> Quản lý danh sách ứng dụng
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="index">Trang Chủ</a>
                        </li>
                        <li>
                            <a href="#">Chức năng</a>
                        </li>
                    </ul>
                </div>
                <div class="page-header">
                    <h1>
                        Chức năng
                        <small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Quản lý danh sách ứng dụng
							</small>
                    </h1>
                </div>
                <h3 th:if="${message != null}" th:text="${message}" style="color: red; text-align:center;padding-top: 10px;"></h3>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                           
						<div class="col-sm-12">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-flat">
                                            <h4 class="widget-title lighter">
                                                <i class="ace-icon fa fa-star orange"></i> DANH SÁCH ỨNG DỤNG ĐANG CHỜ XÉT DUYỆT - PENDING
                                            </h4>
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thin-border-bottom">
                                                        <tr>
                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Icon
                                                            </th>

                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Tên
                                                            </th>
															<th>
																 <i class="ace-icon fa fa-caret-right blue"></i>Thể loại
															</th>														
                                                            <th>
																<i class="ace-icon fa fa-caret-right blue"></i>Hình thức mua
															</th>
															
															<th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Giá
                                                            </th>
															                                                 
                                                        </tr>
                                                    </thead>
													<tbody>
													<tr th:each="app : ${listUnapprovedApps}">
                										<td> <img width='62' height='52' th:src="@{'/img/featured/'+${app.iconimage}}"> </img> </td>
                										<td th:text="${app.appname}"></td>
                										<td th:text="${app.category}"></td>
                										<td th:text="${app.payment}"></td>
                										<td>
															<b class="green" th:text="${app.price}"></b>
                                                         </td>	
            										</tr>
													</tbody>
                                                </table>											
                                            </div>
                                            <!-- /.widget-main -->
                                        </div>
                                        <!-- /.widget-body -->
                                    </div>
                                    <!-- /.widget-box -->
                                </div>
								 <div class="col-sm-12">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-flat">
                                            <br>
                                            <h4 class="widget-title lighter">
                                                <i class="ace-icon fa fa-star orange"></i> ỨNG DỤNG ĐÃ ĐƯỢC XÉT DUYỆT - PUBLISHSED
                                            </h4>

                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thin-border-bottom">
                                                        <tr>
                                                            <th>
																<i class="ace-icon fa fa-caret-right blue"></i>Icon
															</th>
															

                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Tên
                                                            </th>

                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Giá
                                                            </th>
															
															<th>
																<i class="ace-icon fa fa-caret-right blue"></i>Cập nhật trạng thái 
															</th>
															
                                                        
                                                        </tr>
                                                    </thead>
													<tbody>																																				
														<tr th:each="app : ${listPublishApps}">                                                          
                                                           <td><img th:src="@{'/img/featured/'+${app.iconimage}}" width='62' height='52'></td>                                                    
														   <td th:text="${app.appname}"></td>
                                                           <td><b class="green" th:text="${app.price}"></b></td>														
														   <td class="text-center">
																<form th:action="@{/update-app-status}" method ="POST">
																<input name="id" id="id" type="number" th:value="${app.id}" hidden> </input>
																<input name="filter" id="filter" type="text" value="private" hidden> </input>
																	<button class="btn btn-success" type="submit" name="submitStatusUn">Riêng tư</button>
																</form>	
														   </td>																														
                                                        </tr>														
													</tbody>
                                                </table>
                                            </div>
                                            <!-- /.widget-main -->
                                        </div>
                                        <!-- /.widget-body -->
                                    </div>
                                    <!-- /.widget-box -->
                                </div>
								
								 <div class="col-sm-12">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-flat">
                                            <br>
                                            <h4 class="widget-title lighter">
                                                <i class="ace-icon fa fa-star orange"></i> ỨNG DỤNG Ở TRẠNG THÁI ẨN - PRIVATE
                                            </h4>

                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thin-border-bottom">
                                                        <tr class="text-center">
                                                            <th>
																<i class="ace-icon fa fa-caret-right blue"></i>Icon
															</th>
														
                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Tên
                                                            </th>

                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Giá
                                                            </th>
															
															<th>
																<i class="ace-icon fa fa-caret-right blue"></i>Cập nhật trạng thái
															</th>
															<th>
																<i class="ace-icon fa fa-caret-right blue"></i>Xóa ứng dụng 
															</th>
                                                        
                                                        </tr>
                                                    </thead>
													<tbody>																											
														<tr th:each="app : ${listPrivateApps}">                                                        
                                                           <td><img th:src="@{'/img/featured/'+${app.iconimage}}" width='62' height='52'></td>                                                                                                              
														   <td th:text="${app.appname}"></td>
                                                           <td><b class="green" th:text="${app.price}"></b></td>														
															<td class="text-center">
																<form th:action="@{/update-app-status}" method ="POST">
																<input name="id" id="id" type="number" th:value="${app.id}" hidden> </input>
																<input name="filter" id="filter" type="text" value="publish" hidden> </input>
																<button class="btn btn-success" type="submit" name="submitStatusPub">Công khai</button>
																</form>	
															</td> 
															<td class="text-center">
																<form th:action="@{/update-app-status}" method ="POST">
																<input name="id" id="id" type="number" th:value="${app.id}" hidden> </input>
																<input name="filter" id="filter" type="text" value="deleteStore" hidden> </input>
																<button class="btn btn-danger" type="submit" name="submitStatusDelete">Xóa vĩnh viễn</button>
																</form>	
															</td> 
                                                        </tr>														
													</tbody>
                                                </table>
                                            </div>
                                            <!-- /.widget-main -->
                                        </div>
                                        <!-- /.widget-body -->
                                    </div>
                                    <!-- /.widget-box -->
                                </div>
								
								 <div class="col-sm-12">
                                    <div class="widget-box transparent">
                                        <div class="widget-header widget-header-flat">
                                            <br>
                                            <h4 class="widget-title lighter">
                                                <i class="ace-icon fa fa-star orange"></i> ỨNG DỤNG ĐÃ BỊ ADMIN TỪ CHỐI
                                            </h4>

                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="ace-icon fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="thin-border-bottom">
                                                        <tr class="text-center">
                                                            <th>
																<i class="ace-icon fa fa-caret-right blue"></i>Icon
															</th>
															<th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>App ID
                                                            </th>

                                                            <th>
                                                                <i class="ace-icon fa fa-caret-right blue"></i>Tên
                                                            </th>
                                                         															
														
															<th>
																<i class="ace-icon fa fa-caret-right blue"></i>Xóa ứng dụng 
															</th>
                                                        
                                                        </tr>
                                                    </thead>
													<tbody>
													<tr th:each="app : ${listRejectedApps}">
                										<td> <img width='62' height='52' th:src="@{'/img/featured/'+${app.iconimage}}"> </img> </td>
                										<td th:text="${app.id}"></td>
                										<td th:text="${app.appname}"></td>
                										<td class="text-center">
															<form th:action="@{/update-app-status}" method ="POST">
															<input name="id" id="id" type="number" th:value="${app.id}" hidden> </input>
															<input name="filter" id="filter" type="text" value="delete" hidden> </input>
															<button class="btn btn-danger" type="submit" name="submitStatusDenied">Xóa vĩnh viễn</button>
															</form>	
														</td> 
            										</tr>
													
													</tbody>
                                                </table>
                                            </div>
                                            <!-- /.widget-main -->
                                        </div>
                                        <!-- /.widget-body -->
                                    </div>
                                    <!-- /.widget-box -->
                                </div>

                        </div>
                        <!-- /.row -->

                        <!-- /.row -->

                        <div class="hr hr32 hr-dotted"></div>



                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
							AppShopping &copy; 2021
						</span> &nbsp; &nbsp;
                <span class="action-buttons">
							<a>
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a>
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a>
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
    </div>
    <!-- /.main-container -->


    <script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{js/ace.min.js}"></script>
</body>

</html>