<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{css/style1.css}" type="text/css">
	<meta charset="UTF-8">
	<title> Giao Diện Quên Mật Khẩu </title>	
</head>

<body>
<a href="index.php"><img class="logoImg" src="@{img/other/logo.png}" style="width:325px;height:70px"></a>

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="forgotpass_connect.php" method="POST">
			<h1 class="headerLogin">Quên Mật Khẩu?</h1>
			<input name="username" type="text" placeholder="Nhập tài khoản" />
			<input name="email" type="email" placeholder="Nhập Email" />
			<button id="submitForgot" type="submit" name="submitForgot">Lấy lại mật khẩu</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h1 class="forgotPassTitle">Lấy lại mật khẩu</h1>
				<p class="forgotPassIntroduction">Vui lòng nhập lại thông tin để chúng tôi có thể lấy lại mật khẩu cho bạn</p>
				
						<p class="forgotPassIntroduction">Vui lòng kiểm tra lại email để nhận được đường link tới trang thay đổi mật khẩu</p>
				
			</div>
			
		</div>
	</div>
	
	</body>

</div>

</html>
