<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="App Shopping">
    <meta name="keywords" content="App, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AppShopping</title>


    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<link rel="icon" href="img/other/favicon.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>

<body>
    <!-- option Begin -->
    <div class="option_menu_overlay"></div>
    <div class="option_menu_wrapper">
        <div class="option_menu_logo">
            <a><img src="@{img/other/logo.png}" alt=""></a>
        </div>
        <div class="option_menu_cart">
            <ul>
				<li><i id="searchScroll" class="fa fa-heart"></i></li>
				<?php
				if (isset($_SESSION['userLogin']))
				echo "<div class='header_cart_price'>Số tiền bạn có: ".$row_nguoidung['sodu']."  vnđ </div>";
				?>
			</ul>
        </div>
        <div class="option_menu_widget">
            
            <div class="header_top_right_auth">
               <?php
					if (!isset($_SESSION['userLogin']))
						{
							echo '<a href="login"><i class="fa fa-user"></i> Đăng nhập</a>';
						}
					else
						{
							echo'<a href="logout"><i class="fa fa-user"></i> Đăng xuất</a>';
						}
				?>
            </div>
        </div>
		<!-- Navigation mobile -->
        <nav class="option_menu_nav mobile-menu">
            <ul>
                <li><a href="index.php">Trang Chủ</a></li>
                <li class="active"><a href="shop-grid.php">Bảng xếp hạng</a></li>
                
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header_top_right_social">
         
            <?php
			if (isset($_SESSION['userLogin']))
				{
					echo "<a href='account-profile.php'><i class='fa fa-user'></i> Xin chào, ".$Username."</a>";
				}
			?>
        </div>
		<div class="option_menu_contact">
            <ul>
                <li><i class="fa fa-envelope"></i> appshop@gmail.com</li>
                <li>Luôn luôn phong cách!</li>
            </ul>
        </div>
        
    </div>
    <!-- option End -->

    <!-- Khung Header -->
    <header class="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header_top_left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> appshop@gmail.com</li>
                                <li>Luôn luôn phong cách!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header_top_right">
                            <div class="header_top_right_social">
                            
                                 <?php
									if (isset($_SESSION['userLogin']))
									{
										echo "<a href='account-profile.php'><i class='fa fa-user'></i>Xin chào, ".$Username."</a>";
									}
								?>
                            </div>
                           
                            <div class="header_top_right_auth">
                                 <?php
									if (!isset($_SESSION['userLogin']))
									{
										echo '<a href="login.php"><i class="fa fa-user"></i> Đăng nhập</a>';
									}
									else
									{
										echo'<a href="logout.php"><i class="fa fa-user"></i> Đăng xuất</a>';
									}
								?>
                            </div>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header_logo">
                        <a href="index"><img src="@{img/other/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header_menu">
                        <ul>
                            <li><a href="index.php">Trang Chủ</a></li>
							<li><a href="shop-grid.php">Bảng xếp hạng</a></li>
							
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header_cart">
                        <ul>
							<?php
							if (isset($_SESSION['userLogin']))
							{
							echo "<li><i class='fa fa-heart'></i></li>";
							echo "<div class='header_cart_price'>Số tiền bạn có: ".$row_nguoidung['sodu']."  vnđ </div>";
							}
							?>
                        </ul>
						
                    </div>
                </div>
            </div>
            <div class="option_open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Khung Header -->

    <!-- brave Section Begin -->
    <section class="brave brave-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="brave_categories">
                        <div class="brave_categories_all">
                            <i class="fa fa-bars"></i>
                            <span>Thể loại<span class="fa fa-angle-down pull-right pt-1"></span></span>
                        </div>
                         <?php
						$sql_cate = "SELECT * FROM theloai";
						$query_cate = mysqli_query($mysqli,$sql_cate);
											
						if (mysqli_num_rows($query_cate) > 0)
						{	echo '<ul>';
							while ($row_cate = mysqli_fetch_assoc($query_cate))
							{
								echo '<li><a class="smooth-goto" href="shop-type.php?theloai='.$row_cate['tentheloai'].'">'.$row_cate['tentheloai'].'</a></li>';
							}
						}
							echo '
							<li><a class="smooth-goto" href="shop-type.php?hinhthucmua=Miễn phí">Miễn phí</a></li>
                            <li><a class="smooth-goto" href="shop-type.php?hinhthucmua=Trả phí">Tính phí</a></li>
                        </ul> ';
						
						?>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="brave_search">
                        <div class="brave_search_form">
                            <form action="shop-search.php" method="POST">
                                <input id="searchScroll" type="text" name="searching" placeholder="Tìm kiếm trên AppShopping">
                                <button type="submit" name="submitSearch" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                        <div class="brave_search_phone">
                            <div class="brave_search_phone_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="brave_search_phone_text">
                                <h5>+84 908.834.238</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- brave Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="@{img/other/breadcrumb.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb_text">
                        <h2>Ứng Dụng</h2>
                        <div class="breadcrumb_option">
                            <a href="index">Trang chủ</a>
                            <span>Chi tiết ứng dụng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- apps Details Section Begin -->
    <section class="apps-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="apps_details_pic">
						
                        <div class="apps_details_pic_item">
                            <?php
							echo "<img class='apps_details_pic_item--large' src='img/details/".$row_images['screenshot1']." ' alt=''>";
							?>
                        </div>
                        <div class="apps_details_pic_slider owl-carousel">
                            <?php
							echo "<img data-imgbigurl='img/details/".$row_images['screenshot1']." ' src='img/details/".$row_images['screenshot1']." 'alt=''>";
							echo "</img>";
							echo "<img data-imgbigurl='img/details/".$row_images['screenshot2']." ' src='img/details/".$row_images['screenshot2']." 'alt=''>";
							echo "</img>";
							echo "<img data-imgbigurl='img/details/".$row_images['screenshot3']." ' src='img/details/".$row_images['screenshot3']." 'alt=''>";
							echo "</img>";
							echo "<img data-imgbigurl='img/details/".$row_images['screenshot4']." ' src='img/details/".$row_images['screenshot4']." 'alt=''>";
							echo "</img>";                  
							?>
						</div>
						
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="apps_details_text">
						<?php
						echo "<div class='d-flex flex-row user-info'>" . "<img src='img/featured/".$row_images['iconimage']." ' width='70' height='60px'>";
						echo "<div class='d-flex flex-column justify-content-start ml-2'>";
						echo "<span>"."<h3 class='font-weight-bold'>" .$row_app['tenungdung']. "</h3>" ."</span>" ."<span class='date text-black-50'>"."<a class='text-muted smooth-goto href='#gerenaScroll'>". $row_app['nhaphattrien']. "</a>" ."</span>";
						echo "</div>";
						echo "</div>";
						?>
					
						<div class="pb-1"></div>
                        <?php 
						if (isset($_SESSION['userLogin']))
						{
						$sql_showfee = "SELECT * FROM appdownload WHERE username = '$Username' and appdatai ='$appName'";
						$query_showfee = mysqli_query($mysqli,$sql_showfee);
						
						if (mysqli_num_rows($query_showfee) > 0)
						{
								echo "<div class='apps_details_price'>Đã được thêm vào thư viện</div>";	
						}
						else 
						{
							if ($row_app['giatien'] == 0)
							{
								echo "<div class='apps_details_price'>Miễn phí</div>";
							}
							else
							{
								echo "<div class='apps_details_price'>"."Trả Phí:"." ". $row_app['giatien']." "."VNĐ";
								echo "</div>";
							}
						}
						echo "<p>"."Thể loại: "." ". $row_app['theloai']. "</p>". "<p>". $row_app['motangan']. "</p>";
						}
						else
						{
							if ($row_app['giatien'] == 0)
							{
								echo "<div class='apps_details_price'>Miễn phí</div>";
								echo "<p>"."Thể loại: "." ". $row_app['theloai']. "</p>". "<p>". $row_app['motangan']. "</p>";
							}
							else
							{
								echo "<div class='apps_details_price'>"."Trả Phí:"." ". $row_app['giatien']." "."VNĐ";
								echo "<p>"."Thể loại: "." ". $row_app['theloai']. "</p>". "<p>". $row_app['motangan']. "</p>";
								echo "</div>";
							}
						}
						?>
                        <div class="apps_details_quantity">
                            
                        </div>
                        <?php
						if (isset($_SESSION['userLogin']))
						{
						$sql_appdatai = "SELECT * FROM appdownload WHERE username = '$Username' and appdatai ='$appName'";
						$query_appdatai = mysqli_query($mysqli,$sql_appdatai);
						
						if (mysqli_num_rows($query_appdatai) > 0)
						{					
								echo "<form action ='download.php?appName=".$appName."&giatien=".$giatien."&theloai=".$row_app['theloai']." ' method ='POST'>";
								echo "<button type='submit' name='downloadAppFree' class='primary-btn'>CÀI ĐẶT</button>";
								echo "</form>";						
						}
						else 
						{
							if ($row_app['giatien'] == 0)
							{
								echo "<form action ='download.php?appName=".$appName."&giatien=".$giatien."&theloai=".$row_app['theloai']." ' method ='POST'>";
								echo "<button type='submit' name='downloadAppFree' class='primary-btn'>CÀI ĐẶT</button>";
								echo "</form>";
							}
							else
							{
								echo "<form action = 'download.php?appName=".$appName."&giatien=".$giatien."&theloai=".$row_app['theloai']."' method = 'POST'>";
								echo "<button type='submit' name='downloadAppPay' class='primary-btn'>MUA</button>";
								echo "</form>";
							}
						}
						}
						else
						{
							echo "<button type='button' class='primary-btn' disabled>ĐĂNG NHẬP ĐỂ TẢI ỨNG DỤNG</button>";
						}
                        ?>
                        <ul>
							<?php
							echo "<li>"."<b>Lượt tải</b>"."<span>".$row_app['luottai']."</span></li>";
							?>
                            <li><b>Có sẵn trên</b> <span>Ios và Android</span></li>
                            <?php
							echo "<li>";
							echo "<b>";
							echo "Dung lượng: "." ";
							echo "</b>";
							echo "<span>";
							echo $row_app['dungluong'];
							echo "</span>";
							echo "</li>";
							echo "<li>";
							echo "<b>";
							echo "Ngày đăng tải: "." ";
							echo "</b>";
							echo "<span>";
							echo $row_app['ngaydangtai'];
							echo "</span>";
							echo "</li>";					
							?>
                            <?php
							echo "<li>";
							echo "<b>";
							echo "Nhà phát triển: "." ";
							echo "</b>";
							echo "<span>";
							echo $row_app['nhaphattrien'];
							echo "</span>";
							echo "</li>";
							?>
                        </ul>
						</div>
                    </div>
                </div>
                 </div>
    </section>
		
		<section>
			<div class="container">
				<div class="col-lg-12">
                    <div class="apps_details_tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Mô tả</a>
                            </li>
                          
							<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Bình luận & Đánh giá <span></span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="apps_details_tab_desc">
                                    <h6>Giới thiệu</h6>
                                  <?php
									echo "<p> ".$row_app['motachitiet']." </p>";
								  ?>
                                </div>
                            </div>
                           
						   <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="apps_details_tab_desc">
									<h6>Bình luận</h6>
									<?php
									$nameApp = $row_app['tenungdung'];
									$sql = "SELECT *  FROM `binhluan` WHERE tenungdung = '$nameApp'" ;
									$query = mysqli_query($mysqli,$sql);
									while($row = mysqli_fetch_assoc($query)){
										
								
									echo '
									<div class="container mt-2 p-0">
										<div class="d-flex">
											<div class="col-lg-12 col-md-12 pl-0">
												<div class="d-flex comment-section">
													<div class="bg-white">
														<div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://iconape.com/wp-content/png_logo_vector/user-circle.png" width="80">
															<div class="d-flex flex-column justify-content-start ml-2">
																<span class="star" class="d-block font-weight-bold name">'.$row['username'].'</span><span class="date text-black-50">'.$row['ngaycomment'].'</span>
																<div>';
																
																$i=0;
																for(;$i<$row['saodanhgia'];$i++){
																	echo '<span id="" class="fa fa-star checked"></span>';
																}
																for(;$i<5;$i++){
																	echo '<span id="" class="fa fa-star "></span>';
																}
															echo '</div>
															</div>
														</div>
														<div class="mt-2">
															<p>'.$row['noidung'].'</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>';
									}
									?>
									<h2 class="comment">Bình luận</h2>
                                    <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one" class="fa fa-star checked"></span>
									<span onmouseover="starmark(this)" onclick="starmark(this)" id="2one" class="fa fa-star "></span>
									<span onmouseover="starmark(this)" onclick="starmark(this)" id="3one" class="fa fa-star "></span>
									<span onmouseover="starmark(this)" onclick="starmark(this)" id="4one" class="fa fa-star"></span>
									<span onmouseover="starmark(this)" onclick="starmark(this)" id="5one" class="fa fa-star"></span>
									<br/>
									<?php
										if (!isset($_SESSION['userLogin']))
										{
											echo "<button type ='button' class='send'>Vui lòng đăng nhập để có thể thực hiện bình luận</button>";
											echo "<br></br>";
										}
										else {
										$sql_checkDown = "SELECT * FROM appdownload WHERE username ='$Username' AND appdatai = '$nameApp'";
										$query_checkDown = mysqli_query($mysqli,$sql_checkDown);
										
										if(mysqli_num_rows($query_checkDown) == 0 )
										{											
											echo "<button type ='button' class='send'>Mua hoặc tải ứng dụng để có thể bình luận và đánh giá</button>";
											echo "<br></br>";
																			
										}
										else{
											$user = $_SESSION['userLogin'];
											$nameApp = $row_app['tenungdung'];
											$sql = "SELECT *  FROM `binhluan` WHERE tenungdung = '$nameApp' AND username = '$user'";
											$query = mysqli_query($mysqli,$sql);
											
											
											if (mysqli_num_rows($query)>0){
												$row = mysqli_fetch_assoc($query);
												echo "<form onsubmit='result()'action='comment.php?appName=" .$nameApp."' method ='POST' id='commentForm'>";	
												echo "<input id='starRating' type='hidden' name='starRating'> </input>";
												echo "<textarea form='commentForm' name='commentInfo' class='form-control t-5' rows='3' id='comment' placeholder='Nhập bình luận mới'></textarea>";
												echo "<button type ='submit' class='send' name='changeComment'>change</button>";
												echo "</form>";
												
											}
											else{
												echo "<form onsubmit='result()'action='comment.php?appName=" .$nameApp."' method ='POST' id='commentForm'>";	
												echo "<input id='starRating' type='hidden' name='starRating'> </input>";
												echo "<textarea form='commentForm' name='commentInfo' class='form-control t-5' rows='3' id='comment' placeholder='Nhập bình luận của bạn'></textarea>";
												echo "<button type ='submit' class='send' name='submitComment'>Gửi</button>";
												echo "</form>";
											}
										}
										}
									?>
									
                                </div>
                            </div>
                        </div>
                    
					</div>
                </div>
			</div>
		   </section>
		   
    <!-- apps Details Section End -->
	
		<?php
		$nhaphattrien = $row_app['nhaphattrien'];
		
		$sql_related = "SELECT * FROM ungdung WHERE nhaphattrien = '$nhaphattrien' and trangthai ='Publish'";
		$query_related = mysqli_query($mysqli,$sql_related);
		
		if (mysqli_num_rows($query_related) > 0)
		{	
			echo "<section class='related-apps'>"; 
			echo "<div class='container'>";
			echo "<div class='row'>";
							echo "<div class='col-lg-12'>";
								echo "<div class='section-title related_apps_title'>";
							echo "<h2>" .$row_app['nhaphattrien']. "</h2>";
						echo "</div>";
					echo "</div>";
			echo "</div>";
			echo "<div class='row justify-content-center'>"; 
			while ($row_related = mysqli_fetch_assoc($query_related))
			{
			?>
			
				<?php echo "<div class='col-lg-3 col-md-4 col-sm-6'>"; ?>
				<?php echo "<div class='apps_item'>"; ?>
				<?php echo "<div class='apps_item_pic set-bg' data-setbg='img/featured/" .$row_related['iconimage']." '>"; ?>
				<?php echo "<ul class='apps_item_pic_hover'>"; ?>
				<?php echo "<li>". "<a>". "<i class='fa fa-heart'>" ."</i>" ."</a>" ."</li>"; ?>
				<?php echo "<li>". "<a href='shop-details.php?appName=".$row_related['tenungdung']."'>" ."<i class='fa fa-shopping-cart'>". "</i>" ."</a>" ."</li>";?>
				<?php echo "</ul>";?>
				<?php echo "</div>";?>
				<?php echo "<div class='apps_item_text'>";?>
				<?php echo "<h6>" ."<a href='shop-details.php?appName=".$row_related['tenungdung']."'>". $row_related['tenungdung']. "</a>" ."</h6>";?>
				<?php echo "<h5>".$row_related['hinhthucmua']."</h5>";?>
								<?php echo "</div>";?>
						<?php echo "</div>";?>
					<?php echo "</div>";?>				
			<?php
			}
			echo "</div>";
			echo "</div>";
			echo "</section>"; 
		}
		else {
			
		}
		?>
		<?php
		$theloai = $row_app['theloai'];
		$sql_type = "SELECT * FROM ungdung WHERE theloai = '$theloai' AND trangthai='Publish'";
		$query_type = mysqli_query($mysqli,$sql_type);
		
		if (mysqli_num_rows($query_type) > 0)
		{	
			echo "<section class='related-apps'>"; 
			echo "<div class='container'>";
			echo "<div class='row'>";
							echo "<div class='col-lg-12'>";
								echo "<div class='section-title related_apps_title'>";
							echo "<h2>" .$row_app['theloai']. "</h2>";
						echo "</div>";
					echo "</div>";
			echo "</div>";
			echo "<div class='row justify-content-center'>"; 
		while ($row_type = mysqli_fetch_assoc($query_type))
			{
			?>
			
				<?php echo "<div class='col-lg-3 col-md-4 col-sm-6'>"; ?>
				<?php echo "<div class='apps_item'>"; ?>
				<?php echo "<div class='apps_item_pic set-bg' data-setbg='img/featured/" .$row_type['iconimage']." '>"; ?>
				<?php echo "<ul class='apps_item_pic_hover'>"; ?>
				<?php echo "<li>". "<a>". "<i class='fa fa-heart'>" ."</i>" ."</a>" ."</li>"; ?>
				<?php echo "<li>". "<a href='shop-details.php?appName=".$row_type['tenungdung']."'>" ."<i class='fa fa-shopping-cart'>". "</i>" ."</a>" ."</li>";?>
				<?php echo "</ul>";?>
				<?php echo "</div>";?>
				<?php echo "<div class='apps_item_text'>";?>
				<?php echo "<h6>" ."<a href='shop-details.php?appName=".$row_type['tenungdung']."'>". $row_type['tenungdung']. "</a>" ."</h6>";?>
				<?php echo "<h5>".$row_type['hinhthucmua']."</h5>";?>
								<?php echo "</div>";?>
						<?php echo "</div>";?>
					<?php echo "</div>";?>				
			<?php
			}
			echo "</div>";
			echo "</div>";
			echo "</section>"; 
		}
		else {
			
		}
		?>
				
    <!-- Related apps Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_about">
                        <div class="footer_about_logo">
                            <a href="./index.html"><img src="@{img/other/logo.png}" alt=""></a>
                        </div>
                        <ul>
                            <li>Ứng dụng: AppShopping</li>
                            <li>Liên hệ: +84 908.834.238</li>
                            <li>Email: appshop@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer_widget">
                        <h6>Có thể bạn cần</h6>
                        <ul>
                            <li><a href="index.php">Trang chủ</a></li>
                            <li><a href="shop-grid">Bảng xếp hạng</a></li>                        
							<li><a class="smooth-goto" href="#searchScroll">Tìm kiếm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="footer_widget">
                        <h6>Tham gia bảng tin của chúng tôi</h6>
                        <p>Để lại E-mail để có thể nhận được những ưu đãi.</p>
						<form>
							<input id="sub" type="email" placeholder="Nhập E-mail của bạn">
							<button onclick="Subcribe()" type="button" class="site-btn">Gửi</button>
						</form>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_copyright">
                        <div class="footer_copyright_text">
							<p><!-- Phần dưới Footer -->
								&copy;<script>document.write(new Date().getFullYear());</script> AppShopping | Trang web được phát triển <i class="fa fa-heart" aria-hidden="true"></i> bởi Nhóm sinh viên đại học Tôn Đức Thắng
							</p>
						</div>
                        <div class="footer_copyright_payment"><img src="@{img/other/payment-item.png}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Phần dưới Footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="@{js/main.js}"></script>
	


</body>

</html>